body {
    background-color: bisque
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.news-item {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
}

.title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;

}

.news-item .image {
    display: block;
    width: 100%;
    max-width: 500px;
    height: auto;
    margin: 0 auto 10px;
  }
  
  .news-item .video {
    display: block;
    width: 100%;
    max-width: 500px;
    height: auto;
    margin: 0 auto 10px;
  }
  
.news-item .text {
    text-align: center;
    width: 100%;
}





/* .news-item {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

.news-item:last-child {
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.news-item .title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.news-item .image {
    max-width: 100%;
    margin-bottom: 10px;
}

.news-item .text {
    font-size: 16px;
} */